body {
  padding: 0px;
  margin: 0px;
  width:100%;
  height:100%;
  text-align:center;
}

.ripple-container {
  display:inline-block;
  position:relative;
  overflow:hidden;
}

.ripple-button {
  color: hsl(180, 40%, 40%);
  user-select: none;
  position relative;
}

.ripple {
  display:block;
  position:absolute;
  background: hsl(180, 40%, 80%);
  border-radius: 100%;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
          transform: scale(0);
}

.ripple.animate {
  -webkit-animation: ripple 0.65s linear;
     -moz-animation: ripple 0.65s linear;
          animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple{
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
       -moz-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@keyframes ripple{
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
       -moz-transform: scale(2.5);
            transform: scale(2.5);
  }
}